html{
    /* background-color: brown; */
    background-color: #DAEDE2;
    padding: 4.3%;
}
#css-zen-garden{
    background-color: #77c4d3;
}
.page-wrapper{
    
}
section.intro{
    width: 66.6%;
    padding: 5%;
}
h1{
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #ea2e49;
    color:#fff ;
    display: inline-block;
    padding: 11px;

}