body{
   
    overflow-x: hidden;
}

 body a{
    color: #c43121; 
}

.me1{
    height: 194px;
    background-color:#c43121;
}
.pic1{
    /* aspect-ratio: 1; */
    width: 160px;
    border-radius: 50%;
    border: 6px solid antiquewhite;
    background-color:#95caba;
    margin-top: 2.7%;
    margin-left: 15.4%;
}
.bar
{
    overflow: hidden;
    margin-left: 112.5px;
}
.bar a{
     text-decoration: none; 
    float: left;
    /* text-align: center; */
    padding: 79px 24px;
    color:#FFE2DF;
 
    font-size: clamp(1rem,1rem + 2vw,1.5rem);
}
.me2{
    height: 890px;
    background-color: #f4f4e1;
}   
.h{
    /* font-weight: 500; */
    font-family: montez,cursive;
    color: #c43121;
    margin: 0;
    font-size:46.88px;
}
.bar2{
    padding: 6.6vh 0;
    margin-left: 11.1vh;
}
.subtitle{
    font-size:66px;
     font-family: Neuton;
    font-weight: 500;
    /* font: bold; */ 
}
.paragraph{
    
    font-family:system-ui,sans-serif;
    font-size: x-large;
    font-size: 25.9px;
   
}
.bar3{
    height: 870px;
    background-color: #95caba;

}
.bar2 h2{
    font-size: 45px;
    font-family: Neuton;  
    font-weight: 550;
    margin-bottom: 5px;
   
}

.button {
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    color:#35544b;
    text-decoration: none;
    margin-top: 20px;
}

.button span {
    margin-right: 10px;
}
.par a{
    color: #35544b;
    
}
.par{
    font-family:system-ui,sans-serif;
    font-size: medium;
    font-size: 26px;
  
}
.bar5{
    padding: 6.6vh 0;
    margin-left: 11.1vh;
}
.bar5 a{
    color:#35544b;
}
ul{
    list-style: none;
    padding-left: 0rem;
}
.bar5{
    margin-left: 50px;
}



