body{
    background-color: antiquewhite;
}
h1{
    font-size: 50px;
    color: red;
    text-decoration: underline;
}
h2{
    margin-top: 35px;
    color: #fff;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 20px;
    color: #fff;
    margin: 10px;
}
.card1{
    background-color: #fff;
    height: 300px;
    
    padding: 3px;
    display: flex;
    flex-direction: row;
}
.box{
    height:87px;
    background-color: black;
    width: 300px;
    /* display: flex; */
    /* align-self: center; */
    margin-left: 10px;
    margin-top: 10px;

}
.card2{
    /* display: flex; */
    flex-direction: row-reverse;
   
}
.card3{
    display: flex;
    flex-direction: column;
    height: 400px;
}
.card4{
    display: flex;
    flex-direction: column-reverse;
}
.card5{
    display: flex;
    justify-content: flex-start;
}
.card6{
    /* display: flex; */
    justify-content: flex-end;
}
.card7{
    justify-content: space-between;
}
.card8{
    justify-content: space-around;
}
.card9{
    justify-content: left;
}
.card10{
    justify-content: right;
}
/* .card11{
    justify-content: baseline;
} */
.card12{
    justify-content: space-evenly;
}
.card13{
    align-items: flex-start;
}
.card14{
    align-items: flex-end;
}
.card15{
    align-items: center;
}
.card16{
    align-items:stretch;
}
.card17{
    align-items: baseline;
}
.card18{
    align-items: first baseline;
}
.card19{
    align-items: last baseline;
}
.card20{
    align-items: start;
}
.card21{
    align-items: end;
}
.card22{
    align-items: self-start;
}
.card23{
    align-items: safe;
}
.card24{
    align-items: unset;
}
.card25{
    flex-wrap: nowrap;
    height: 700px;
}
.card26{
    /* flex-direction: row; */
    flex-wrap: wrap;
    height: 400px;
}
.card27{
    flex-wrap: wrap-reverse;
    height: 400px;
    
}
.card28{
    flex-wrap: wrap;
    align-content:flex-end;
    height: 600px;
}
.card29{ 
    flex-wrap: wrap;
    height: 600px;
    align-content: flex-start;
}
.card30{
    flex-wrap: wrap;
    height: 600px;
    align-content: center;
}
.card31{
    flex-wrap: wrap;
    height: 600px;
    align-content: stretch;
}
.card32{
    flex-wrap: wrap;
    height: 600px;
    align-content: space-between;
}
.card33{
    flex-wrap: wrap;
    height: 600px;
    align-content: space-around;
}